---
import "@/styles/global.css"
import { ChampionshipStatusComponent } from "@/components/championship-status"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Can Norris still win?</title>
	</head>
	<body>
		<ChampionshipStatusComponent />
	</body>
</html>
